body {
  background-image: url("./assets/minijuegos_com.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  backdrop-filter: blur(8px);
}

body,
html {
  height: 100%; /* Updated to ensure proper scaling */
  margin: 0;
  padding: 0;
  overflow-y: auto; /* Ensures scrollability */
}

body {
  font-family: "Arial", sans-serif;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Changed to flex-start to allow natural top alignment */
  padding-top: 20px; /* Add padding to ensure content is not too close to the edge */
}

.container {
  background-color: white;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 80%;
  max-width: 600px;
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 680px;
  transform: translate(-50%, -50%);
}

.container-inner {
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  border: 1px solid lightgray;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 21px;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

button:disabled {
  background-color: grey;
  pointer-events: none;
  opacity: 0.5;
}

button.large {
  width: 90%;
  height: 100px;
  border: 3px outset blue;
  font-size: 20px;
  border-radius: 10px;
}

.code-block,
#response,
#guestResponse {
  margin-top: 20px;
  text-align: left;
}

.code-block {
  background-color: #f4f4f4;
  border-left: 3px solid #007bff;
  padding: 10px;
  font-family: "Courier New", monospace;
  overflow-x: auto;
  position: relative;
  margin-top: 5px;
}

.copy-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #007bff;
}

.token-label {
  font-weight: bold;
  margin-top: 10px;
}
.offer-message {
  padding: 30px;
  color: red;
  border-radius: 10px;
  border: 4px dashed red;
  font-size: 35px;
  display: none;
}
.explanation {
  text-align: left;
  margin-top: 20px;
  font-size: 14px;

  line-height: 21px;
  background: #424242;
  color: white;
  font-family: monospace;
  padding: 18px 34px;
  border-radius: 10px;
}
.offer-end {
  color: red;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none; /* Hidden by default */
  z-index: 100;
}
.virtual-items-block {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 30px 0;
  background: #efefef;
  padding: 20px 0;
  border-radius: 10px;
}

#toaster-container {
  position: fixed;

  top: 0;
  left: 0;
  z-index: 1000;
  width: 300px;
  padding: 10px;
}
.toaster {
  background-color: white;
  color: white;
  padding: 13px;
  font-size: small;
  margin-top: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  opacity: 0.9;
}
.toaster.success {
  border-left: 8px solid rgb(0, 241, 0);
  background-color: green;
}
.toaster.error {
  border-left: 8px solid rgb(255, 105, 105);
  background-color: red;
}
.toaster.info {
  border-left: 8px solid rgb(105, 105, 255);
  background-color: blue;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
